{% load static %} 
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pronunciation practice</title>
        <link rel="stylesheet" href="{% static '/bootstrap-5.3.6-dist/css/bootstrap.min.css' %}">
    </head>

    <body>
        <div class="container mt-3">
            <div id="content", name="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <script src="{% static '/bootstrap-5.3.6-dist/js/bootstrap.bundle.min.js' %}"></script>
    </body>

</html>