# .ebextensions/00_nginx_static.config
files:
  "/etc/nginx/conf.d/elasticbeanstalk/staticfiles.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /static/ {
          alias /var/app/current/staticfiles_collected/; # Ensure this trailing slash
          expires 7d;
          autoindex off;
      }
      # location /media/ { # If you have media files
      #     alias /var/app/current/media/; # Ensure this trailing slash
      #     expires 7d;
      #     autoindex off;
      # }

container_commands:
  01_reload_nginx: # Or restart, reload is usually sufficient
    command: "sudo service nginx reload"
    # Use 'sudo systemctl reload nginx' on newer Amazon Linux versions if 'service' command is not found/deprecated