# .ebextensions/01-django.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    # Set the DJANGO_SETTINGS_MODULE environment variable
    DJANGO_SETTINGS_MODULE: "CAPT_Interface_python.settings"
  aws:elasticbeanstalk:container:python:
    # Set the WSGI path for your application
    WSGIPath: "CAPT_Interface_python.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    # Configure Nginx to serve static files from the /static/ URL path
    # from the 'staticfiles_collected' directory (where collectstatic puts them)
    /static/: "staticfiles_collected"