# .ebextensions/02-database_migrations.config
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  03_import_students:
    command: "source /var/app/venv/*/bin/activate && python manage.py import_student_csv data/students.csv"
    leader_only: true 
  04_import_audio_train:
    command: "source /var/app/venv/*/bin/activate && python manage.py import_audio_csv data/train_selected_data.csv train_nat" 
    leader_only: true
  05_import_audio_test:
    command: "source /var/app/venv/*/bin/activate && python manage.py import_audio_csv data/test_selected_data.csv test_nat"
    leader_only: true
  06_create_test_users:
    command: "source /var/app/venv/*/bin/activate && python manage.py create_test_users"
    leader_only: true
  07_create_superuser: 
    command: "source /var/app/venv/*/bin/activate && python manage.py create_superuser"
    leader_only: true # Ensures this command only runs on one instance during deployment