# .ebextensions/02-database_migrations.config
container_commands:
container_commands:
  01_set_timezone:
    command: |
      ln -sf /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
      echo "Asia/Tokyo" > /etc/timezone
    test: test ! -f /etc/timezone || grep -qv "Asia/Tokyo" /etc/timezone
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  04_import_students:
    command: "source /var/app/venv/*/bin/activate && python manage.py import_student_csv static/data/students.csv"
    leader_only: true 
  05_import_audio_train:
    command: "source /var/app/venv/*/bin/activate && python manage.py import_audio_csv static/data/train_selected_data.csv train_nat" 
    leader_only: true
  06_import_audio_test:
    command: "source /var/app/venv/*/bin/activate && python manage.py import_audio_csv static/data/test_selected_data.csv test_nat"
    leader_only: true
  06_create_test_users:
    command: "source /var/app/venv/*/bin/activate && python manage.py create_test_users"
    leader_only: true
  08_create_superuser: 
    command: "source /var/app/venv/*/bin/activate && python manage.py create_superuser"
    leader_only: true # Ensures this command only runs on one instance during deployment
  09_import_audio_gs:
    command: "source /var/app/venv/*/bin/activate && python manage.py import_gs data/train_selected_data.csv"
    leader_only: true