# .ebextensions/00_install_ffmpeg.config
commands:
  01_install_ffmpeg:
    # This command first enables the EPEL repository (Extra Packages for Enterprise Linux)
    # and then installs ffmpeg. The 'test' ensures it only runs if ffmpeg isn't already installed.
    command: |
      sudo amazon-linux-extras install -y epel
      sudo yum install -y ffmpeg
    test: "test ! -f /usr/bin/ffmpeg"