{% extends 'login/base.html' %}
{% load static %} 

{% block content %}

{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

{% if success %}
    <div class="alert alert-success" role="alert">
        {{ success }}
    </div>
{% endif %}

<div class="container mt-4">

    <div class="position-relative">
        <h1>Selection screen</h1>
        <!-- <a class="btn btn-danger position-absolute top-0 end-0" href="{% url 'login:evaluation_logout'%}" role="button">Logout</a> -->

        {% for permission, completed in permissions %}

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Evaluation part 0{{forloop.counter}}</h5>
                    {% if forloop.counter == 1 %}
                        <p class="card-text">
                            First part of the evaluation process, containing in total 254 recordings.
                        </p>
                    {% elif forloop.counter == 2 %}
                        <p class="card-text">
                            Second part of the evaluation process, containing in total 254 recordings.
                        </p>
                    {% elif forloop.counter == 3 %}
                        <p class="card-text">
                            Third and last part of the evaluation process, containing in total 252 recordings.
                        </p>
                    {% endif %}
                    <div class="mt-2">
                        {% if completed %}
                            
                            <p class="text-success h6">This part was already completed.</p>

                            {% if forloop.counter == 1 %}
                                <p class="card-text">
                                    <a href="https://app.prolific.com/submissions/complete?cc=CA2QEGLT" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><b>Click here</b></a> to complete this part on Prolific.
                                </p>
                            {% elif forloop.counter == 2 %}
                                <p class="card-text">
                                    <a href="https://app.prolific.com/submissions/complete?cc=C60HSK7T" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><b>Click here</b></a> to complete this part on Prolific.
                                </p>
                            {% elif forloop.counter == 3 %}
                                <p class="card-text">
                                    <a href="https://app.prolific.com/submissions/complete?cc=CDZ0RIZL" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><b>Click here</b></a> to complete this part on Prolific.
                                </p>
                            {% endif %}


                        {% else %}
                            {% if permission %}
                                <a class="btn btn-primary" href="{% url 'evaluate:evaluate' forloop.counter %}" role="button">Start</a>
                            {% else %}
                                {% if forloop.counter == 2 %}
                                    <p class="card-text">
                                        Available after the part 01 has been completed and confirmed.
                                    </p>
                                {% elif forloop.counter == 3 %}
                                    <p class="card-text">
                                        Available after both parts 01 and 02 have been completed and confirmed.
                                    </p>
                                {% endif %}
                                <a class="btn btn-secondary disabled" href="#" role="button" aria-disabled="true">Unavailable</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
                
        {% endfor %}

    </div>
</div>


{% endblock %}